.table-block {
    margin: 25px;
    border: 1px solid black;
}

.table-block__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cell {
    display: flex;
    align-items: center;
    border: 1px solid black;
    height: 50px;
    padding: 5px;
}

input {
    padding: 5px;
    border: 2px solid silver;
    border-radius: 5px;
}

.add-button {
    margin: 10px 25px;
}
